body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

h1 {
    color: aqua;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

ul > li {
    font-weight: bold;
}

h1 + p {
    background-color: black;
    padding: 18px;
    border-radius: 5px;
}